//
// chatver.rc - VERSIONINFO resource for Microsoft Chat (v2.5-beta-1-modern)
//
// Included by cchat.rcv after the VER_* description macros are defined.
// Replaces the NT DDK common.ver template with a self-contained block.
//

#include "chatver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    VER_FILEVERSION
 PRODUCTVERSION VER_PRODUCTVERSION
 FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
 FILEFLAGS      0x1L
#else
 FILEFLAGS      0x0L
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VER_FILETYPE
 FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_DESCRIPTION_STR
            VALUE "FileVersion",      VER_PRODUCTRELEASE_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGNAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTRELEASE_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
